#sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.3);
  transition: right 0.5s ease-in-out;
}

#sidebar.active {
  right: 0;
}

#sidebar ul {
  padding: 20px;
  list-style-type: none;
}

#sidebar ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#sidebar-btn,
#sidebar-close-btn {
  background: none;
  border: none;
  cursor: pointer;
}

#sidebar-btn svg,
#sidebar-close-btn svg {
  width: 30px;
  height: 30px;
}

#sidebar-close-btn {
  position: absolute;
  top: 50%;
  left: -20px; /* 버튼이 약간 튀어나오게 */
  transform: translateY(-50%);
  background-color: #f8f9fa;
  border: 2px solid #ddd;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* 로그인 후 메시지 스타일 */
#logged-in {
  position: absolute;
  top: 50%;
  right: 1.5cm; /* 사이드바 버튼에서 1.5cm 정도 떨어지도록 설정 */
  transform: translateY(-50%);
  font-size: 16px;
}
footer {
  width: 100%;
  height: 100px;
  bottom: 0px;
  position: absolute;
  border-top: 1px solid #4b2d23;
  padding-top: 15px;
  color: #808080;
  font-size: 11px;
}

footer a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  color: #808080;
  font-size: 11px;
}

footer a:visited {
  color: #808080;
}

footer p {
  margin-top: 0;
  margin-bottom: 0;
}

footer p span {
  display: inline-block;
  margin-left: 20px;
}
