footer {
  width: 100%;
  height: 100px;
  bottom: 0px;
  border-top: 1px solid #4b2d23;
  padding-top: 15px;
  color: #808080;
  font-size: 11px;
}

footer a {
  display: inline-block;
  margin: 0 20px 10px 20px;
  color: #808080;
  font-size: 11px;
}

footer a:visited {
  color: #808080;
}

footer p {
  margin-top: 0;
  margin-bottom: 0;
}

footer p span {
  display: inline-block;
  margin-left: 20px;
}
/* �뿤�뜑 留곹겕 ��吏곸씠湲� */

.listA {
  text-decoration: none;
  color: white;
}
/* 硫붾돱 �긽�떒 �씠由� */

.container-tabname {
  font-size: 2rem;
  text-align: center;
}

.container-tabname p {
  margin-top: 5px;
  font-size: 1rem;
  text-align: center;
}

/* �씠誘몄� �뫁湲�寃� 留뚮뱾湲� */
#modalSignin img {
  width: 100%;
  height: auto;
  object-fit: cover; /* �씠誘몄�媛� 諛뺤뒪 �븞�뿉 留욊쾶 �옒由щ룄濡� �꽕�젙 */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* 濡쒓렇�씤 諛뺤뒪 �븞�쓽 �뀓�뒪�듃 諛� 踰꾪듉 媛��슫�뜲 �젙�젹 */
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center; /* 媛��슫�뜲 �젙�젹 */
  justify-content: center; /* �꽭濡� 諛⑺뼢�쑝濡쒕룄 媛��슫�뜲 �젙�젹 */
}

.login-signup-box {
  text-align: center;
}

.login-find-id-pw {
  text-align: center;
}

.q-id {
  font-size: 14px;
}

.festiList {
  margin: 0;
  padding: 0;
}

.board {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.bt_wrap {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.bt_wrap a {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1.4rem;
}

.bt_wrap a:first-child {
  margin-left: 0;
}

.bt_wrap a.on {
  background: #000;
  color: #fff;
}

.board > div {
  border-bottom: 1px solid #ddd;
  font-size: 0;
}

.board > div.top {
  border-bottom: 1px solid #999;
}

.board > div:last-child {
  border-bottom: 1px solid #000;
}

.board > div > div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 0.7rem;
}

.board > div.top > div {
  font-weight: 600;
}

.board .board-viewcnt,
.board .board-writer,
.board .board-bidx {
  width: 10%;
}

.login-signup-box {
  display: flex;
  align-items: center;
}

.board .board-subject,
.festiList .festiList-subject {
  width: 55%;
  text-align: left;
}

.board .board-subject,
.festiList .top .festiList-subject {
  text-align: center;
}

.board .board-writeday {
  width: 15%;
}

.calendar {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.board {
  width: 100%;
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 14px;
}

.board > div {
  border-bottom: 1px solid #ddd;
}

.board > div.top {
  font-weight: 600;
}

.board .board-bidx,
.board .board-subject,
.board .board-writer,
.board .board-writeday,
.board .board-viewcnt {
  padding: 10px;
  text-align: center;
}

/* 以묒븰 諛곗튂 諛� 諛섏쓳�삎 �겕湲� 議곗젙 */
.container-calendar,
.container-festiList,
.container-board,
.container-qnaContents {
  width: 67%;
  max-width: 1000px;
  margin: 0 auto;
}

.container-signup {
  width: 40%;
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.col-12 {
  width: 100%;
}

.col-md-8,
.col-lg-6 {
  width: 67%;
  max-width: 800px;
}

.d-flex-center {
  display: flex;
  justify-content: space-around; /* �뼇履� �걹�쑝濡� 諛곗튂 */
  align-items: center; /* �꽭濡� 媛��슫�뜲 �젙�젹 */
}

/*移대뱶 �긽�떒 �뫁湲�寃�*/
.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-body {
  text-align: center;
}

.form select {
  margin-right: 10px;
}

.pagination {
  justify-content: center;
  text-align: center;
}

.main_info {
text-align: center;
}

.carousel-silder {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px; /* �뫁洹� 紐⑥꽌由� */
  overflow: hidden; /* 諛뺤뒪 諛뽰쑝濡� �꽆移섎뒗 �슂�냼 �닲源� */
  padding: 10px 0; /* �긽�븯 �뿬諛� */
}

.carousel-item img {
  width: 100%; /* �씠誘몄��쓽 �꼫鍮꾨�� 諛뺤뒪�뿉 留욎땄 */
  height: 100%; /* �씠誘몄��쓽 �넂�씠瑜� 諛뺤뒪�뿉 留욎땄 */
  object-fit: cover; /* �씠誘몄�瑜� 諛뺤뒪 �겕湲곗뿉 留욊쾶 �옄由� */
  border-radius: 15px; /* �씠誘몄��쓽 紐⑥꽌由� �뫁湲�寃� */
}

.form-label .p {
	justify-content: center;
}

.page { margin: 50px 0 20px; text-align: center;}
.page ul { display: inline-block; }
.page li { display: inline-block; width: 30px; height: 30px; cursor: pointer; }
.page .on { background: black; color: white; }



/*   form input {
    max-width: 200px;
  } */

