footer {
	width: 100%;
	height: 100px;
	bottom: 0px;
	border-top: 1px solid #4b2d23;
	padding-top: 15px;
	color: #808080;
	font-size: 11px;
}

footer a {
	display: inline-block;
	margin: 0 20px 10px 20px;
	color: #808080;
	font-size: 11px;
}

footer a:visited {
	color: #808080;
}

footer p {
	margin-top: 0;
	margin-bottom: 0;
}

footer p span {
	display: inline-block;
	margin-left: 20px;
}

.container-tabname {
	font-size: 2rem;
	text-align: center;
}

.container-tabname p {
	margin-top: 5px;
	font-size: 1rem;
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

.listA {
	text-decoration: none;
	color: white;
}

/*write box 부분*/
#container-writebox {
	width: 67%;
	max-width: 1000px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
}

.board_title {
    margin-bottom: 30px;
}

.board_title strong {
    font-size: 2rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.3rem;
}

.boardcontents {
    border-top: 2px solid #000;
}

.boardcontents .subject,
.boardcontents .info {
    padding: 15px;
}

.boardcontents .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;
}

.boardcontents .subject dl {
    font-size: 0;
}

.boardcontents .info dl {
    display: inline-block;  
    width: 50%;
    vertical-align: middle;
}

.boardcontents .subject dt,
.boardcontents .subject dd,
.boardcontents .info dt,
.boardcontents .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
}

.boardcontents .subject dt,
.boardcontents .info dt {
    width: 100px;
}

.boardcontents .subject dd {
    width: calc(100% - 100px);
}

.boardcontents .title input[type="text"],
.boardcontents .info input[type="text"],
.boardcontents .info input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
}

.boardcontents .subject input[type="text"] {
    width: 60%;
}

.boardcontents .contents {
    border-bottom: 1px solid #000;
}

.boardcontents .contents textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}

.festivaldate {
	margin-top: 20px;
}

.date-input-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.date-input-wrapper input {
	width: calc(33.33% - 20px); /* 시작, 종료 날짜 입력 필드 폭 균등 분배 */
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
}

.date-input-wrapper label {
	white-space: nowrap;
	font-weight: bold;
	font-size: 1rem;
}

.date-input-wrapper .btn {
	padding: 10px 20px;
	font-size: 1rem;
	border-radius: 5px;
}

#result {
	margin-top: 15px;
	padding: 10px;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 1rem;
	color: #333;
}

.festiterm {
	text-align: center;
	font-size: 10px;
}


.filebox {
	width: 600px;
	height: 25px;
	float: left;
}

.writedetail {
	text-align: left;
}